<h1> Galeria De imágenes 1</h1>
        <h2> Mini Cooper S</h2>
        <span class="linea"></span>
        <section class="galeria">
            <a href="#image1"><img src="../../../../public/img/MINI-1.jpg" alt=""></a>
            <a href="#image2"><img src="../../../../public/img/MINI-2.jpg" alt=""></a>
            <a href="#image3"><img src="../../../../public/img/MINI-3.jpg" alt=""></a>
            <a href="#image4"><img src="../../../../public/img/MINI-4.jpg" alt=""></a>
            <a href="#image5"><img src="../../../../public/img/MINI-5.jpg" alt=""></a>
        </section>

        <article class="ligth-box" id="image1">
            <a href="#image5" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="../../../../public/img/MINI-1.jpg" alt="">
            <a href="#image2" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="ligth-box" id="image2">
            <a href="#image1" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="../../../../public/img/MINI-2.jpg" alt="">
            <a href="#image3" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="ligth-box" id="image3">
            <a href="#image2" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="../../../../public/img/MINI-3.jpg" alt="">
            <a href="#image4" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="ligth-box" id="image4">
            <a href="#image3" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="../../../../public/img/MINI-4.jpg" alt="">
            <a href="#image5" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>
        
        <article class="ligth-box" id="image5">
            <a href="#image4" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="../../../../public/img/MINI-5.jpg" alt="">
            <a href="#image1" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <a href="/" class="boton-inicio">Regresar</a>
    
      <h2>Caracteristicas</h2>
      <section class="descripcion">
            <ul class="first">
                <li> Modelo</li> <br> 
                <li> Año</li> <br> 
                <li> Cilindraje</li> <br> 
                <li> Caballos de Fuerza</li> <br> 
                <li> Kilometraje</li> <br> 
                <li> Ubicación</li> <br> 
            </ul>

            <ul class="second">
                <li>Mini Cooper S</li> <br>
                <li>2016</li> <br>
                <li>1.600 cc</li> <br>
                <li>211 hp</li> <br>
                <li>70.000 Km</li> <br>
                <li>Buenos Aires</li> <br>
            </ul>
    </section>