<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Home - Proyecto Integrador</title>
  </head>

  <body>
    <header>
      <div class="header-top-section">
        <a href="/">
          <div class="logo-main" alt="Hello My New Car">
            <img class="logo" src="img/logo2.png" alt="Hello My New Car" />
          </div>
        </a>
        <div class="search-bar">
          <input type="text" value="Buscar modelos, marcas" size="30">
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="shopping-cart">
          <a href="/cart"><i class="fa-solid fa-cart-shopping fa-xl"></a></i>
        </div>
      </div>
      <div class="header-menu">
        <div class="first-menu">
          <nav>
            <ul>
              <li><a href='#' class="lista">Ofertas</a></li>
              <li><a href='#' class="lista">Comprá tu auto</a></li>
              <li><a href='#' class="lista">Vendé tu auto</a></li>
              <li><a href='#' class="lista">Ayuda</a></li>
            </ul>
          </nav>
        </div>
  
        <div class="second-menu">
          <nav>
            <ul>
              <li><a href='/register' class="lista">Creá tu cuenta </a></li>
              <li><a href='/login' class="lista">Ingresá</a></li>
              <li><a href='/favoritos' class="lista">Mis favoritos</a></li>
            </ul>
          </nav>
  
        </div>
        <div class="burger-menu">
          <i class="fas fa-bars fa-xl"></i>
        </div>
      </div>
    </header>

    <main>
      <div class="TopContainer">
      <h3>Olvidaste tu contraseña?</h3>
      <p>
        Ingresa tu dirección de e-mail para seguir las instrucciones que enviaremos a ese correo.
      </p>
    </div>
      <form action="/" method="GET" class="AccountRecover">
        <div class="FormItem">
          <label for="AccountRecover">Escribe tu e-mail:</label>
          <input
            type="email"
            name="AccountRecover"
            placeholder="Tú correo electrónico"
            class="InputControl"
          />
        </div>
        <div class="FormItem">
          <button type="submit" class="SubmitBotton">
            Recuperar mi contraseña
          </button>
        </div>
      </form>
    </main>

    <footer>
      <footer>
        <div class="footer-lists">
          <div class="first-footer-list">
            <nav>
              <ul>
                <li><a href='#' class="lista">Comprá tu auto</a></li>
                <li><a href='#' class="lista">Vendé tu auto</a></li>
                <li><a href='#' class="lista">Financiamiento</a></li>
              </ul>
            </nav>
          </div>
          <div class="second-footer-list">
            <nav class="footer-menu">
              <ul>
                <li><a href='#' class="list">Preguntas Frecuentes</a></li>
                <li><a href='#' class="list">Contacto</a></li>
                <li><a href='#' class="list">Trabajá con nosotros</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="copyrigth">
          <p>Copyright ©2022 HelloCar S.R.L.</p>
        </div>
      </footer>
    </footer>
  </body>
</html>
