<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Detalle del Producto </title>
</head>
<body>
    <header>
        <div class="logo-main" alt="Hello My New Car">
          <img src="img/Logo.png" />
        </div>
    
        <div class="buscador">
          <input type="text" value="Buscar modelos, marcas" size="30">
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    
        <div class="header-menu">
          <div class="lista-1">
            <nav>
              <ul>
                <li><a href='#' class="lista">Ofertas</a></li>
                <li><a href='#' class="lista">Comprá tu auto</a></li>
                <li><a href='#' class="lista">Vendé tu auto</a></li>
                <li><a href='#' class="lista">Ayuda</a></li>
              </ul>
            </nav>
          </div>
    
          <div class="lista-2">
            <nav>
              <ul>
                <li><a href='/register' class="lista">Creá tu cuenta </a></li>
                <li><a href='/login' class="lista">Ingresá</a></li>
                <li><a href='/favoritos' class="lista">Mis favoritos</a></li>
              </ul>
            </nav>
          </div>
        </div>
    
    
      </header>
      <footer>
        <div class="footer-lists">
          <div class="first-footer-list">
            <nav>
              <ul>
                <li><a href='#' class="lista">Comprá tu auto</a></li>
                <li><a href='#' class="lista">Vendé tu auto</a></li>
                <li><a href='#' class="lista">Financiamiento</a></li>
              </ul>
            </nav>
          </div>
          <div class="second-footer-list">
            <nav class="footer-menu">
              <ul>
                <li><a href='#' class="list">Preguntas Frecuentes</a></li>
                <li><a href='#' class="list">Contacto</a></li>
                <li><a href='#' class="list">Trabajá con nosotros</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="copyrigth">
          <p>Copyright ©2022 HelloCar S.R.L.</p>
        </div>
      </footer>
</body>
</html>