<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Home - Proyecto Integrador</title>
  </head>
  <body>
    <header>
      <h4>Hola Mundo - header body</h4>
    </header>

    <main>
      <h4>Hola Mundo - main body</h4>
    </main>

    <footer>
      <h4>Hola Mundo - footer body</h4>
    </footer>
  </body>
</html>
