*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #25275910;
}

h1{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    color: #0D0D0D;
}
h2{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-style:italic;
    color: #000000;
}
.linea{
    background: #1E2040;
    height: 3px;
    width: 100%;
    display: block;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 10px 0 ;
    overflow: hidden;

}
.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px black;
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.8s;

}

.galeria a:hover img{
    transform: rotate(10deg) scale(1.3);
}
.ligth-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .5s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

}

.ligth-box img{
    width: 75vw;
    max-height: 90vh;
}

.ligth-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: rgb(36, 116, 229);
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next{
    display: block;
    background: rgb(36, 116, 229);
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 18px;
    margin: 12px;
}

.boton-inicio{
    display: flex;
    width: 100px;
    height: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    background-color: rgba(187, 205, 218, 0.789);
    color: black;
    border-radius: 30px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 5px;
}
.descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
}

.first{
    height: 40%;
    width: 40%;
    color: #0D0D0D;
    align-content: space-around;
    list-style: none;
    
}
.second{
    height: 40%;
    width: 40%;
    color: #0D0D0D;
    align-content: space-around;
    list-style: none;
    
}
.first li{
    
    text-align: center;
    
}
.second li{
    
    text-align: center;
}
.footer{
    color: #fff;
}

.texto-descripcion{
    font-size:large;
}

.title-galeria {
    font-size: 40px;
    margin:auto;
    margin-bottom: 0px;
    padding-bottom: 1px;
}

.contenedor-caracteristicas{
    display:flex;
    justify-content: center;
}

.contenedor-ubicacion, .contenedor-kilometraje,.contenedor-modelo, .contenedor-categoria, .contenedor-precio{
    padding-left: 40px;
    padding-right: 40px;
}

.descripcion-contenedor, .titulo-contenedor{
    text-align: center;
}

.imagen-descripcion{
    text-align: center;

}

@media screen and(max-width:400px) {
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .close{
        top: 20px;
        right: 20px;
    }
}

@media screen and(min-width:780px) {
    .ligth-box img{
        width: 64vw;
        max-height: 85vh;
    }
}