
.container-crear{
    width: 95vh;
    height: 72vh;
    background-color: rgba(105, 101, 101, 0.7);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
}

.title-index-prod-form{
    font-size: x-large;
    text-align: center;
}

.des-index-prod-form{
    font-size: large;
    text-align: center;
}

.contenedor-botones-index-prod{
    text-align:center;
}

.boton-crear{
    width: 15vh;
    height: 5vh;
    margin: 1%; 
    font-family: 'Roboto', sans-serif;
    font-size:medium;
    font-weight:normal;
    cursor:pointer;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
}

.boton-modificar{
    width: 15vh;
    height: 5vh;
    margin: 1%; 
    font-family: 'Roboto', sans-serif;
    font-size:medium;
    font-weight:normal;
    cursor:pointer;
    transition: 1s ease all;
    border-radius: 5px;
    position: relative;
}

.boton-crear:hover {
    background: greenyellow;
}

.boton-modificar:hover {
    background: goldenrod;
}

.container-crear{
    text-align:center;
}

.title-crear, .des-crear{
    font-size: x-large;
}

.text-ref, .text-marca, .text-ubicacion, .text-categoria, .text-modelo,.text-kilometraje,.text-precio, .text-img-brow
{ 
    font-size:large;
}

.boton-enviar-crear{
    font-size:large;
}

.boton-adj-file{
    font-size:larger;
    padding: 15px 0px;
}



.boton-enviar-crear {
    background-color: #7a9dbe;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #ffffff;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
}

.boton-enviar-crear:hover {
    background-color: #5390F5;
  }

/* Estilos para menú de selección de auto */
.container-tit-des-menu-modificar{
    text-align: center;
}

.container-sel-auto{
    display: flex;
}

.filtros{
    padding: 0px 20px 0px 20px;
    width: 40%;
}

.listado-autos label {
    margin-bottom: 5px;
    font-weight: 800;
    display: block;
    color: #1E2040;
}

.container-article-modificar{
    margin: 3px;
}

.foto-article-modificar{
    height: 40%;
    width: 30%;
}

/* Estilos para producto a modificar */

.container-menu-objeto-modificado{
    text-align: center;
}

.container-form-objeto-modificado{
    text-align: center;
}

.container-form-carac-modificar{
    text-align: center;
}

#containerEditing{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    position:relative;
}

.elementEditimg{
    width: 30%;
    padding: 5px;
}

.imgEditForm{
    object-fit: cover;
    width: 12rem;
    height: auto;
    vertical-align: middle;
    border-radius: 10%;
}

.elementEditimg .deleteBtn{
    position: relative;
    width: 10%;
    top: -40%;
    left: 0.1%;
    background-color: #252759;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}