* {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 12px;
}

/* ************************* */
/* ***** header config ***** */
header {
    width: 100vw;
    background-color: rgb(242, 244, 246);
}



.search {
    max-width: 45vw;
    position: relative;
    text-align: center;
}


.home-top-banner {
    width: 90vw;
    display: block;
    /* ocupa el ancho, trata al elemento como de bloque, toma la configuracion de ancho y alto del padre */
}

.home-top-banner img {
    width: 90vw;
}

/* *** end header config *** */
/* ************************* */

/* ****** main config ****** */
main {
    width: 90vw;
    margin: auto;
}

section .main-ofert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

article {
    width: 90%;
    margin-top: 10px;
}

.main-ofert-article img {
    width: 60vw;
    max-width: 300px;
}


.price-discount {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

p.main-price {
    font-size: 14px;
    margin: 10px 0px 0px 0px;
    flex: 30 0 0;
    text-decoration: line-through;
}

p.main-discountprice {
    font-size: 16px;
    margin: 0;
    flex: 30 0 0;
}

p.main-discount {
    color: rgb(255, 51, 51);
    font-weight: 800;
    margin: 0px 0px;
    flex: 70 0 0;
}

.main-brands{
    background-color: rgb(242, 244, 246);
}

.main-carlogo-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-carlogo-brands{
    display: block;
    box-sizing: border-box;
    margin: 0 10px 0 10px;
}

.main-carlogo-name{
    font-weight: 700;
    color:rgb(71, 117, 252);
    text-decoration: none;
}

.each-brand-logo{
    display: block;
    text-align: center;
    position: relative;
    
    

}
/* **** end main config **** */
/* ************************* */

/* ***** footer config ***** */
footer {
    width: 90vw;
    background-color: white;
    color: #666;
    text-align: center;
    padding: 0px;
    padding: 50px 50px 10px 50px;
    margin: 0px;
}

.footer-menu{
   
    display: flex;
        justify-content: space-between;
        max-width: 80%;
        align-items: center;
        text-align: right;
        margin: start;
}

.first-footer-list a{
    text-decoration: none;
    text-align: left;
}

.first-footer-list li{
    text-decoration: none;
    text-align: left;
}

.second-footer-list a{
    text-decoration: none;
    text-align: right;
}

.second-footer-list li{
    text-decoration: none;
    text-align: right;
}

.copyrigth {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 10px;
}

/* *** end footer config *** */
/* ************************* */


.imgCenter {
    text-align: center
}

/* 0-480: smaller smartphones */
@media (min-width: 361px) {

}

/* 481-768: tablets & lager smartphones */
@media (min-width:481px) {
 
}

/* 769-1279: Laptoos, larger tablets in landscape, & small smartphones */
@media (min-width:769px) {

}
/* 1280 + ...: Larger desktops and monitors */
@media (min-width:1280px) {

 
}