PaletaColores {
    color:
        #252759 #25275910 #1E2040 #D90404 #BF0404 #0D0D0D #FFF;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background-color: #25275910;
}

/* ***** header config ***** */
header {
    width: 100vw;
    background-color: #FFF;

}




.home-top-banner {
    width: 90vw;
    display: block;
    /* ocupa el ancho, trata al elemento como de bloque, toma la configuracion de ancho y alto del padre */
}

.home-top-banner img {
    width: 95vw;
}

.search-bar {
    max-width: 45vw;
    position: relative;
    margin-top: 15px
}

.search-bar input {
    max-width: 85%;
    height: 30px;
    box-shadow: 0px 0px 1px rgb(100, 100, 100);
    border-color: #25275910
}

.header-top-section {
    display: flex;
}

.logo {
    width: 60%;
    max-width: 160px;
    margin: 10px;
    box-sizing: content-box;
}

.shopping-cart a {
    padding: 20px;
    color: #1E2040;
    display: flex;
}



.title {
    display: block;
    margin: 20px 0 10px 0;
    text-align: center;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    padding: 5px 0 5px 0;
    background-color: #1E2040;
}

.first-menu {
    display: none;
}

.second-menu {
    display: none;
}

.header-menu a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.header-menu ul {
    list-style: none;

}

.header-menu li {
    display: inline;
    margin: 5px 5px 0 5px;
}

.burger-menu {
    color: #fff;
    padding: 5px;
}

/* *** end header config *** */
/* ************************* */

/* ****** main config ****** */
main {
    width: 90vw;
    margin: auto;
}



.main-ofert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    margin: 30px 0 10px 0;
}

.main-article-content {
    padding: 5px 0 5px 5px;
}

.main-article-title {
    font-weight: bold;
}

article {
    width: 90%;
    margin-top: 10px;
}

.main-ofert-article img {
    width: 60vw;
    max-width: 300px;
}

.product-detail {
    /*display: flex;
    flex-wrap: wrap;*/
    /*position: relative;*/
    width: 90%;
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
    margin: 0px;
}

.CheckboxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.CheckControl {
    width: 15px;
    margin-right: 3px;
}

p.main-price {
    font-size: 14px;
    margin: 10px 0px 0px 0px;
    flex: 30 0 0;
    text-decoration: line-through;
}

p.main-discountprice {
    font-size: 16px;
    margin: 0;
    flex: 30 0 0;
    font-weight: bold   ;
}

p.main-discount {
    color: rgb(255, 51, 51);
    font-weight: 800;
    margin: 0px 0px;
    flex: 70 0 0;
}

.main-brands {
    background-color: rgb(242, 244, 246);
    margin: 30px 0px 30px 0;
}

.main-carlogo-brands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    width: 95vw;
}

.main-carlogo-name {
    font-weight: 700;
    color: rgb(71, 117, 252);
    text-decoration: none;
    position: relative;
}

.each-brand-logo {
    display: block;
    text-align: center;
    position: relative;



}

/* **** end main config **** */
/* ************************* */

/* ***** footer config ***** */
footer {
    background-color: #1E2040;
    color: #FFF;
    text-align: center;
    padding: 0px;
    padding: 20px;
    margin: 0px;
    background-color: #1E2040;
}

footer.footer-lists ul {
    list-style: none;
}

footer.footer-lists a {
    text-decoration: none;
    color: #fff
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    align-items: center;
    text-align: right;
    margin: start;
}

.footer-lists {
    display: flex;
}

.footer-lists ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
}

.footer-lists a {
    text-decoration: none;
    text-align: left;
    color: #fff;
}

.first-footer-list {
    display: flex;
    flex-direction: column;
    width: 50vw;

}

.second-footer-list {
    display: flex;
    flex-direction: column;
    width: 50vw;
}


.copyrigth {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 10px;
}

/* *** end footer config *** */
/* ************************* */


/* ****** form config ****** */

.CreateAccount {
    padding: 15px;
}

.LoginForm {
    padding: 15px;
}

.TopContainer {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.TopContainer h3 {
    text-align: center;
    color: #252759;
    font-size: 20px;
}

.FormItem {
    margin-bottom: 15px;
}

.FormItem label {
    margin-bottom: 5px;
    font-weight: 800;
    display: block;
    color: #1E2040;
}

.InputControl {
    width: 100%;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
}

.SubmitBotton {
    width: 100%;
    background-color: #252759;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 3px;
}

.SubmitBotton:hover {
    background-color: #25275910;
}

.FormItemLink {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    row-gap: 15px;
}

.CheckboxContainer {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.CheckControl {
    width: 15px;
}

/* *** end form config *** */
/* ************************* */


.imgCenter {
    text-align: center
}

/* 0-480: smaller smartphones */
@media (min-width: 361px) {}

/* 481-768: tablets & lager smartphones */
@media (min-width:481px) {
    .main-ofert-article {
        max-width: 300px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .main-ofert h2 {
        align-items: center;
        margin-bottom: 10px;
    }

    .header-top-section {
        justify-content: space-around;
    }

    .logo-main {
        width: 30vw;
    }

    .search-bar {
        width: 60vw;
        box-sizing: border-box;
    }

    .search-bar input {
        width: 400px;
        max-width: 85%;
    }
}

/* 769-1279: Laptoos, larger tablets in landscape, & small smartphones */
@media (min-width:769px) {
    

    .first-menu {
        display: flex;

    }

    .second-menu {
        display: flex;

    }

    .burger-menu {
        display: none;
    }

    .shopping-cart {
        position: relative;
        align-items: center;
        margin-top: 20px;
    }
}

/* 1280 + ...: Larger desktops and monitors */
@media (min-width:1280px) {

    .search-bar {
        margin-top: 34px;
    }
}