PaletaColores {
    color:
        #252759 #25275910 #1E2040 #D90404 #BF0404 #0D0D0D #FFF;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background-color: #25275910;
}

/* ***** header config ***** */
header {
    width: 100vw;
    background-color: #FFF;
}

.header-top-section {
    display: flex;
}

.logo-main {
    width: 30%;
    max-width: 160px;
}

.logo {
    width: 100%;
    padding: 10px;
}

.search-bar {
    display: flex;
    width: 50%;
    margin: auto;
}

.search-bar input {
    width: 100%;
    height: 30px;
    box-shadow: 0px 0px 1px rgb(100, 100, 100);
    border-color: #25275910
}

.shopping-cart{
    display: flex;
    margin: auto;
    width: 10%;
}

.shopping-cart a{
    margin: 0px auto;
    color: #252759;
    font-size: 12px;
}

.title {
    text-align: center;
    color: #252759;
    font-size: 20px;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    padding: 5px 0 5px 0;
    background-color: #1E2040;
}

.first-menu {
    display: none;
}

.second-menu {
    display: none;
}

.header-menu a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.header-menu ul {
    list-style: none;

}

.header-menu li {
    display: inline;
    margin: 5px 5px 0 5px;
}

.burger-menu {
    color: #fff;
    padding: 5px;
}

/* *** end header config *** */
/* ************************* */

/* ****** main config ****** */
main {
    width: 100vw;
    margin: auto;
}

.home-top-banner {
    width: 100vw;
    display: block;
    /* ocupa el ancho, trata al elemento como de bloque, toma la configuracion de ancho y alto del padre */
}

.home-top-banner img {
    width: 100vw;
}


.main-ofert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    padding: 20px;
}

.main-article-content {
    padding: 5px 0 5px 5px;
    box-shadow: 0 0 6px black
}

.main-article-title {
    font-weight: bold;
    
}

article {
    width: 90%;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 0 6px black
}

.main-ofert-article img {
    width: 100%;
    box-shadow: 0 0 6px black
}
.main-ofert-article img:hover{
    transform: rotate(6deg) scale(1.0);
}


.product-detail {
    /*display: flex;
    flex-wrap: wrap;*/
    /*position: relative;*/
    width: 90%;
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
    margin: 0px;
}

.CheckboxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.CheckControl {
    width: 15px;
    margin-right: 3px;
}

p.main-price {
    font-size: 14px;
    margin: 10px 0px 0px 0px;
    flex: 30 0 0;
    text-decoration: line-through;
}

p.main-discountprice {
    font-size: 16px;
    margin: 0;
    flex: 30 0 0;
    font-weight: bold   ;
}

p.main-discount {
    color: rgb(255, 51, 51);
    font-weight: 800;
    margin: 0px 0px;
    flex: 70 0 0;
}

.main-brands {
    background-color: rgb(242, 244, 246);
    margin: 30px 0px 30px 0;
}

.main-carlogo-brands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0 0 0;
}

.main-carlogo-name {
    font-weight: 700;
    color: rgb(71, 117, 252);
    text-decoration: none;
    position: relative;
}

.each-brand-logo {
    display: block;
    text-align: center;
    position: relative;
}

/* **** end main config **** */
/* ************************* */

/* ***** footer config ***** */
footer {
    background-color: #1E2040;
    color: #FFF;
    padding: 20px;
}

div.footer-lists-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

.footer-list {
    flex-direction: row;
    width: 50%;
    text-align: left;
}

.footer-list h3{
    margin-bottom: 8px;
}

footer li{
    margin-bottom: 5px;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #fff
}

.social-media{
    padding-bottom: 20px;
    text-align: right;
}

i.fa-brands{
    padding: 2px;
    font-size: 18px;
}
.copyrigth {
    font-size: 10px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* *** end footer config *** */
/* ************************* */


/* ****** form config ****** */

.formBody {
    padding: 15px;
}

h4{
    margin-bottom: 8px;
    font-size: 14px;
}

p.caracteristica{
    margin-bottom: 8px;
    text-align: center;
    font-size: 14px;
    color: #1E2040;
}

.TopContainer {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.TopContainer h3 {
    text-align: center;
    color: #252759;
    font-size: 20px;
}

.FormItem {
    margin-bottom: 15px;
}

.FormItem label {
    margin-bottom: 5px;
    font-weight: 800;
    display: block;
    color: #1E2040;
}

.InputControl {
    width: 100%;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
}

.SubmitBotton {
    width: 100%;
    background-color: #252759;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 3px;
}

.SubmitBotton:hover {
    background-color: #25275910;
}

.FormItemLink {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    row-gap: 15px;
}

.CheckboxContainer {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.CheckControl {
    width: 15px;
}

/*TODO ESTO ES DEL CARRITO */

.cart .table{
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
}

.table tr td{
    padding-right: 20px;
    padding-left: 20px;
}
.text-white{
    font-size: large;
}
.cart .table thead tr th{
    border-top:0px;
    font-size:16px;
    font-weight: bold;
    border-bottom:0px;
    padding-right: 50px;
    padding-left: 50px;
}
.cart .table tbody tr td{
    padding-top:30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center;
}
.cart .table tbody tr td .main .d-flex{
    padding-right:30px;
}
.cart .table tbody tr td .main .d-flex img{
    border: 2px solid #000;
    border-radius: 3px;
}
.cart .table tbody tr td .main .des{
    vertical-align: middle;
    align-self: center;
}
.cart .table tbody tr td .main .des p{
    margin-bottom:0px;
}
.cart .table tbody tr td h6{
    font-size:16px;
    color:#000;
    margin-bottom: 0px;
}
.cart .table tbody tr td .counter{
    margin-bottom:0px;
}
.counter i{
    border: 1px solid #000;
    padding: 2px;

}
.counter input{
    width:17px;
    padding-left:2px;
    height: 20px;
    outline:none;
    box-shadow: none;
}


.input-number{
    text-align: left;
}

.checkout ul{
    border: 2px solid #ebebeb;
    background: #f3f3f3;
    padding-left:25px;
    padding-right:25px;
    padding-top:16px;
    padding-bottom: 20px;
}
.checkout ul li{
    list-style: none;
    font-size:16px;
    font-weight: bold;
    color:#252525;
    text-transform: uppercase;
    overflow: hidden;
}
.checkout ul li.subtotal{
    font-weight: bold;
    text-transform: capitalize;
    border-bottom:1px solid #fff;
    padding-bottom: 14px;
}
.checkout ul li.subtotal span{
    font-weight: bold;
}
.checkout ul li.cart-total{
    padding-top: 10px
}
.checkout ul li.cart-total span{
    color:#e7ab3c;
}
.checkout ul li span{
    float:right;
}
.checkout .proceed-btn{
    font-size:15px;
    font-weight: bold;
    color:#fff;
    background:#1E2040;
    text-transform: uppercase;
    padding:15px 25px 14px 25px;
    display: block;
    text-align: center;
}


.main {
    padding:0;
}
.main .description{
    text-align:center;
    font-size: large;
}

/* Fin de las cosas del carrito */

/* *** end form config *** */
/* ************************* */


.imgCenter {
    text-align: center
}

/* **********MEDIA QUERY********** */

/* 0-480: smaller smartphones */
@media (max-width: 361px) {
    .main-article-description{
        display: none;
    }

    a.ver-mas{
        display: none;
    }

   button.btn.btn-outline-danger.btn-block{
    display: none;
   }
}

/* 481-768: tablets & lager smartphones */
@media (min-width:481px) and (max-width: 768px) {
    .main-ofert-article {
        max-width: 45%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .main-ofert h2 {
        align-items: center;
        margin-bottom: 10px;
    }

    .header-top-section {
        justify-content: space-around;
    }

    .formBody{
        padding: 0 20% 0 20%;
    }


}

/* 769-1023: Laptops, larger tablets in landscape */
@media (min-width:769px) and (max-width:1023px){

    .search-bar {
        width: 60%;
    }

    .shopping-cart a {
        font-size: 16px;
    }

      
    .first-menu {
        display: flex;

    }

    .second-menu {
        display: flex;

    }

    .burger-menu {
        display: none;
    }

    .formBody{
        padding: 0 25% 0 25%;
    }

    .main-ofert-article {
        max-width: 30%;
        column-gap: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .footer-container{
        width: 728px;
        margin: auto;
    }

}

/* 1024 + ...: Desktops, larger desktops and monitors */
@media (min-width:1024px) {

    .search-bar {
        width: 60%;
    }

    .shopping-cart a {
        font-size: 18px;
    }

    .first-menu {
        display: flex;

    }

    .second-menu {
        display: flex;

    }

    .burger-menu {
        display: none;
    }

    .formBody{
        padding: 0 25% 0 25%;
    }

    .main-ofert-article {
        max-width: 30%;
        column-gap: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .footer-container{
        width: 728px;
        margin: auto;
    }
    
}