<!DOCTYPE html>
<html lang="en">
    <%-include('../head.ejs') %>
    <title>Modificación de Usuario</title>
</head>
<%-include('../header.ejs') %>
<body>
<br>
<div class="container-menu-objeto-modificado">
<p>Bienvenido Alberto, estás logueado como ADMINISTRADOR</p>
<br>
<p>Estás modificando el objeto Mini Cooper S de color Blanco, ubicado en Buenos Aires de categoría Deportivo y modelo 2016 </p>
<br>
<p>¿Qué caracteristica del producto deseas modificar?</p>
</div>


<%-include('../footer.ejs') %>
</body>
</html>