<!DOCTYPE html>
<html lang="en">
    <%-include('../head.ejs') %>
    <title>Lista de Usuarios</title>
</head>
<%-include('../header.ejs') %>
<body>
    <main>   
        
    </main>
    
</body>

<%-include('../footer.ejs') %>
</html>