<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/detalles.css" rel="stylesheet" />
    <title>Detalle del Producto </title>
</head>
<body>
    <header>
        <div class="header-top-section">
            <div class="logo-main" alt="Hello My New Car">
              <img class="Logo" src="img/logo.png" alt="Hello My New Car" />
            </div>
      
            <div class="search-bar">
              <input type="text" value="Buscar modelos, marcas" size="30">
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="shopping-cart">
              <i class="fa-solid fa-cart-shopping fa-xl"></i>
            </div>
          </div>
      
          <div class="header-menu">
            <div class="first-menu">
              <nav>
                <ul>
                  <li><a href='#' class="lista">Ofertas</a></li>
                  <li><a href='#' class="lista">Comprá tu auto</a></li>
                  <li><a href='#' class="lista">Vendé tu auto</a></li>
                  <li><a href='#' class="lista">Ayuda</a></li>
                </ul>
              </nav>
            </div>
      
            <div class="second-menu">
              <nav>
                <ul>
                  <li><a href='/register' class="lista">Creá tu cuenta </a></li>
                  <li><a href='/login' class="lista">Ingresá</a></li>
                  <li><a href='/favoritos' class="lista">Mis favoritos</a></li>
                </ul>
              </nav>
      
            </div>
            <div class="burger-menu">
              <i class="fas fa-bars fa-xl"></i>
            </div>
          </div>
        <h1> Galeria De imágenes</h1>
        <h2> Ford Mustang 5.0</h2>
        <span class="linea"></span>
        <section class="galeria">
            <a href="#image1"><img src="img/MUSTANG-1.jpg" alt=""></a>
            <a href="#image2"><img src="img/MUSTANG-2.jpg" alt=""></a>
            <a href="#image3"><img src="img/MUSTANG-3.jpg" alt=""></a>
            <a href="#image4"><img src="img/MUSTANG-4.jpg" alt=""></a>
            <a href="#image5"><img src="img/MUSTANG-5.jpg" alt=""></a>
        </section>

        <article class="ligth-box" id="image1">
            <a href="#image5" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="img/MUSTANG-1.jpg" alt="">
            <a href="#image2" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="ligth-box" id="image1">
            <a href="#image5" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="img/MUSTANG-1.jpg" alt="">
            <a href="#image2" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="ligth-box" id="image2">
            <a href="#image1" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="img/MUSTANG-2.jpg" alt="">
            <a href="#image3" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="ligth-box" id="image3">
            <a href="#image2" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="img/MUSTANG-3.jpg" alt="">
            <a href="#image4" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>
        
        <article class="ligth-box" id="image4">
            <a href="#image3" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="img/MUSTANG-4.jpg" alt="">
            <a href="#image5" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>

        <article class="ligth-box" id="image5">
            <a href="#image4" class="next"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="img/MUSTANG-5.jpg" alt="">
            <a href="#image1" class="next"><i class="fa-solid fa-arrow-right"></i></a>
            <a href="#" class="close">X</a>
        </article>
        <a href="/" class="boton-inicio">Regresar</a>
    
      </header>
      <h2>Caracteristicas</h2>
      <section class="descripcion">
        
            

            <ul class="first">
                <li> Modelo</li> <br> 
                <li> Año</li> <br> 
                <li> Cilindraje</li> <br> 
                <li> Caballos de Fuerza</li> <br> 
                <li> Kilometraje</li> <br> 
                <li> Ubicación</li> <br> 
            </ul>

            <ul class="second">
                <li>Ford Mustang GT</li> <br>
                <li>2017</li> <br>
                <li>5.000 cc</li> <br>
                <li>421 hp</li> <br>
                <li>14.000 Km</li> <br>
                <li>Rosario</li> <br>
            </ul>

     
    </section>

    <section>
        <div class="main-brands">
          <h2 class="title">Nuestras marcas destacadas</h2>
          <div class="main-carlogo-brands">
            <div class="each-brand-logo">
              <a href="#" class="">
                <img src="img/Audi.png">
                <br class="main-carlogo-name">Audi</span>
              </a>
            </div>
            <div class="each-brand-logo">
              <a href="#" class="">
                <img src="img/BMW.png">
                <br class="main-carlogo-name">BMW</span>
              </a>
            </div>
            <div class="each-brand-logo">
              <a href="#" class="">
                <img src="img/Ford.png">
                <br class="main-carlogo-name">Ford</span>
              </a>
            </div>
            <div class="each-brand-logo">
              <a href="#" class="">
                <img src="img/Kia.png">
                <br class="main-carlogo-name">Kia</span>
              </a>
            </div>
            <div class="each-brand-logo">
              <a href="#" class="">
                <img src="img/Chevrolet.png">
                <br class="main-carlogo-name">Chevrolet</span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
  
    <footer>
      <div class="footer-lists">
        <div class="first-footer-list">
          <nav>
            <ul>
              <li><a href='#' class="lista">Comprá tu auto</a></li>
              <li><a href='#' class="lista">Vendé tu auto</a></li>
              <li><a href='#' class="lista">Financiamiento</a></li>
            </ul>
          </nav>
        </div>
        <div class="second-footer-list">
          <ul>
            <li><a href='#' class="list">Preguntas Frecuentes</a></li>
            <li><a href='#' class="list">Contacto</a></li>
            <li><a href='#' class="list">Trabajá con nosotros</a></li>
          </ul>
          </nav>
        </div>
      </div>
      <div class="copyrigth">
        <p>Copyright ©2022 HelloCar S.R.L.</p>
      </div>
    </footer>
  </body>
  
  </html>