<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link href="/css/normalize.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <title>Compra y venta de autos usados garantizados</title>
</head>

<body>
  <header>
    <div class="header-top-section">
      <div class="logo-main" alt="Hello My New Car">
        <img class="logo" src="img/logo.png" alt="Hello My New Car" />
      </div>

      <div class="search-bar">
        <input type="text" value="Buscar modelos, marcas" size="30">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div class="shopping-cart">
        <a href="/cart"><i class="fa-solid fa-cart-shopping fa-xl"></a></i>
      </div>
    </div>
    <div class="header-menu">
      <div class="first-menu">
        <nav>
          <ul>
            <li><a href='#' class="lista">Ofertas</a></li>
            <li><a href='#' class="lista">Comprá tu auto</a></li>
            <li><a href='#' class="lista">Vendé tu auto</a></li>
            <li><a href='#' class="lista">Ayuda</a></li>
          </ul>
        </nav>
      </div>

      <div class="second-menu">
        <nav>
          <ul>
            <li><a href='/register' class="lista">Creá tu cuenta </a></li>
            <li><a href='/login' class="lista">Ingresá</a></li>
            <li><a href='/favoritos' class="lista">Mis favoritos</a></li>
          </ul>
        </nav>

      </div>
      <div class="burger-menu">
        <i class="fas fa-bars fa-xl"></i>
      </div>
    </div>


  </header>

  <main>
    <div class="home-top-banner"><img src="img/HomeTopBanner.jpg" alt=""></div>
    <section>
      <h2 class="title">Imperdibles</h2>
      <div class="main-ofert">
        <article class="main-ofert-article">
          <img src="img/MINI-1.jpg">
          <div class="main-article-content">
            <p class="main-article-title">Mini Cooper S 1.6 Jcw Coupe 211cv</p>
            <p class="main-article-description">2016 - 70.000km - Buenos Aires</p>
            <div>
              <p class="main-price">$37.500</p>
              <p class="main-discount">15%</p>
              <p class="main-discountprice">$31.875</p>
              <a href="/detalleDelProducto"> Ver más <br></a>
            </div>
          </div>
        </article>

        <article class="main-ofert-article">
          <img src="img/MUSTANG-1.jpg">
          <div class="main-article-content">
            <p class="main-article-title">Ford Mustang 5.0 GT 421cv</p>
            <p class="main-article-description">2017 - 14.000km - Rosario</p>
            <div>
              <p class="main-price">$95.000</p>
              <p class="main-discount">10%</p>
              <p class="main-discountprice">$85.500</p>
              <a href="/detalle2"> Ver más <br></a>
            </div>
          </div>
        </article>

        <article class="main-ofert-article">
          <img src="img/ETIOS-1.jpg">
          <div class="main-article-content">
            <p class="main-article-title">Toyota Etios 1.5 X</p>
            <p class="main-article-description">2017 - 67.526km - Buenos Aires</p>
            <div>
              <p class="main-price">$10.000</p>
              <p class="main-discount">5%</p>
              <p class="main-discountprice">$9.500</p>
              <a href="/detalle3"> Ver más <br></a>
            </div>
          </div>
        </article>
        <article class="main-ofert-article">
          <img src="img/RANGER-1.jpg" alt="">
          <div class="main-article-content">
            <p class="main-article-title">Ford Ranger Limited 3.2 4x4</p>
            <p class="main-article-description">2018 - 102.384km - Córdoba</p>
            <div>
              <p class="main-price">$25.000</p>
              <p class="main-discount">7%</p>
              <p class="main-discountprice">$23.250</p>
              <a href="/detalle4"> Ver más <br></a>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section>
      <div class="main-brands">
        <h2 class="title">Nuestras marcas destacadas</h2>
        <div class="main-carlogo-brands">
          <div class="each-brand-logo">
            <a href="#" class="">
              <img src="img/Audi.png">
              <br class="main-carlogo-name">Audi</span>
            </a>
          </div>
          <div class="each-brand-logo">
            <a href="#" class="">
              <img src="img/BMW.png">
              <br class="main-carlogo-name">BMW</span>
            </a>
          </div>
          <div class="each-brand-logo">
            <a href="#" class="">
              <img src="img/Ford.png">
              <br class="main-carlogo-name">Ford</span>
            </a>
          </div>
          <div class="each-brand-logo">
            <a href="#" class="">
              <img src="img/Kia.png">
              <br class="main-carlogo-name">Kia</span>
            </a>
          </div>
          <div class="each-brand-logo">
            <a href="#" class="">
              <img src="img/Chevrolet.png">
              <br class="main-carlogo-name">Chevrolet</span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-lists">
      <div class="first-footer-list">
        <nav>
          <ul>
            <li><a href='#' class="lista">Comprá tu auto</a></li>
            <li><a href='#' class="lista">Vendé tu auto</a></li>
            <li><a href='#' class="lista">Financiamiento</a></li>
          </ul>
        </nav>
      </div>
      <div class="second-footer-list">
        <ul>
          <li><a href='#' class="list">Preguntas Frecuentes</a></li>
          <li><a href='#' class="list">Contacto</a></li>
          <li><a href='#' class="list">Trabajá con nosotros</a></li>
        </ul>
        </nav>
      </div>
    </div>
    <div class="copyrigth">
      <p>Copyright ©2022 HelloCar S.R.L.</p>
    </div>
  </footer>
</body>

</html>