<!DOCTYPE html>
<html lang="en">

  <%-include('./partials/head.ejs') %>
    <title>Registro</title>
  </head>


  <%-include('./partials/header.ejs') %>

  <body>
    <main>
      <div class="TopContainer">
        <h3>Crea tu cuenta</h3>
        <p>¿Ya eres parte de Hello My New Car?</p>
        <a href="/login">Inicia sesión</a>
      </div>
      <form class="formBody" method="POST" action="/users/new">
        <h4>Completa tus datos:</h4>
        <div class="FormItem">
          <label for="nombre">Nombre*</label>
          <input type="text" name="firstName" id="firstName" placeholder="Tú nombre*" class="InputControl" />
        </div>
        <div class="FormItem">
          <label for="apellido">Apellido*</label>
          <input type="text" name="lastName" id="lastName" placeholder="Tú apellido" class="InputControl" />
        </div>
        <div class="FormItem">
          <label for="tel">Teléfono</label>
          <input type="tel" name="tel" id="tel" placeholder="Ej: +57 3111111111" class="InputControl" />
        </div>
        <div class="FormItem">
          <label for="email">E-mail*</label>
          <input type="email" name="email" id="email" placeholder="Ej: direccion@correo.com" class="InputControl"/>
        </div>
        <div class="FormItem">
          <label for="password">Contraseña*</label>
          <input type="password" name="pass" id="pass" placeholder="Mínimo 8 caracteres" class="InputControl" />
        </div>

        <div class="FormItem">
          <label>Adjunte una foto de perfil </label>
          <input class="boton-adj-file" type="file" name="avatarUser" accept=".jpg .png .jpeg" multiple>
        </div>
        <p class="RequiredData">(*)Datos obligatorios.</p>
        <div class="CheckboxContainer">
          <input type="checkbox" name="accept-terms" class="CheckControl" />
          <label for="accept-terms">Acepto los<a target="_blank" href="#"> términos y condiciones</a></label>
        </div>
        </label>
        <div class="FormItem">
          <button type="submit" class="SubmitBotton">Crear cuenta</button>
        </div>
      </form>
    </main>

    <%-include('./partials/footer.ejs') %>
  </body>

</html>