<!DOCTYPE html>
<html lang="en">
    <%-include('../head.ejs') %>
    <title>Modificación de producto - Mini Cooper S</title>
</head>
<%-include('../header.ejs') %>
<body>
<br>
<div class="TopContainer">
<h3>Bienvenido Alberto, estás logueado como ADMINISTRADOR</h3>
<h4>Estás modificando el objeto Mini Cooper S de color Blanco, ubicado en Buenos Aires de categoría Deportivo y modelo 2016 </h4>
</div>
    <form  method="POST" class="formBody">
        <p class="caracteristica">¿Qué caracteristica del producto deseas modificar?</p>
        <div class="FormItem">    
        <label>Seleccione la caracteristica del Mini Cooper S que desee modificar: </label>
        <select class="InputControl" caracteristica="caracteristica">
            <option value="nombre">Nombre del producto</option>
            <option value="precio">Precio del producto en ARS</option>
            <option value="modelo">Modelo del producto</option>
            <option value="ubicacion">Ubicación del producto</option>
            <option value="categoria">Categoría del producto</option>
        </select>
        </div>
        <p class="caracteristica">Ha seleccionado la caracteristica Categoría del producto</p>
    <br>
    <div class="FormItem">    
        <label> ¿A qué categoría quiere que pertenezca el objeto Mini Cooper S?</label>
        <select class="InputControl">
            <option value="Camioneta">Camioneta</option>
            <option value="Automovil">Automovil</option>
            <option value="Deportivo">Deportivo</option>
        </select>
    </div>
        <a href="#"><button type="submit" class="SubmitBotton">Actualizar producto</button></a>
        <a href="/productos/menuModificar"><button type="submit" class="SubmitBotton">Regresar</button></a>
    </form>
</div>
<br>

<%-include('../footer.ejs') %>
</body>
</html>