<section class="main-brands">
    <h2 class="title">Nuestras marcas destacadas</h2>
    <div class="main-carlogo-brands">
      <div class="each-brand-logo">
        <a href="#" class="">
          <img src="/img/Audi.png">
          <br class="main-carlogo-name">Audi</span>
        </a>
      </div>
      <div class="each-brand-logo">
        <a href="#" class="">
          <img src="/img/BMW.png">
          <br class="main-carlogo-name">BMW</span>
        </a>
      </div>
      <div class="each-brand-logo">
        <a href="#" class="">
          <img src="/img/Ford.png">
          <br class="main-carlogo-name">Ford</span>
        </a>
      </div>
      <div class="each-brand-logo">
        <a href="#" class="">
          <img src="/img/Kia.png">
          <br class="main-carlogo-name">Kia</span>
        </a>
      </div>
      <div class="each-brand-logo">
        <a href="#" class="">
          <img src="/img/Chevrolet.png">
          <br class="main-carlogo-name">Chevrolet</span>
        </a>
      </div>
    </div>
</section>