<footer>
    <div class="footer-lists">
      <div class="first-footer-list">
        <nav>
          <ul>
            <li><a href='/products' class="lista">Comprá tu auto</a></li>
            <li><a href='/products/index' class="lista">Vendé tu auto</a></li>
            <li><a href='#' class="lista">Financiamiento</a></li>
          </ul>
        </nav>
      </div>
      <div class="second-footer-list">
        <nav>
          <ul>
            <li><a href='#' class="lista">Preguntas Frecuentes</a></li>
            <li><a href='#' class="lista">Contacto</a></li>
            <li><a href='#' class="lista">Trabajá con nosotros</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="copyrigth">
      <p>Copyright ©2022 HelloMyNewCar S.R.L.</p>
    </div>
  </footer>