<header>
  <div class="header-top-section">
    <div class="logo-main" alt="Hello My New Car">
      <a href="/"><img class="logo" src="/img/Logo.png" alt="Hello My New Car" /></a>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscá una marca o modelo espécifico" size="30">
      <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="shopping-cart">
      <a href="/cart"><i class="fa-solid fa-cart-shopping fa-xl"></a></i>
    </div>
  </div>
  <div class="header-menu">
    <div class="first-menu">
      <nav>
        <ul>
          <li><a href='/products' class="lista">Comprá tu auto</a></li>
          <li><a href='/products/index' class="lista">Vendé tu auto</a></li>
        </ul>
      </nav>
    </div>

    <div class="second-menu">
      <nav>
        <ul>
          <li><a href='/users/create' class="lista">Creá tu cuenta </a></li>
          <li><a href='/users/login' class="lista">Ingresá</a></li>
          <li><a href='/favoritos' class="lista">Mis favoritos</a></li>
          <li><a href='#' class="lista">Ayuda</a></li>
        </ul>
      </nav>

    </div>
    <div class="burger-menu">
      <i class="fas fa-bars fa-xl"></i>
    </div>
  </div>
</header>