<!DOCTYPE html>
<html lang="en">
    <%-include('../head.ejs') %>
    <title>Indice de productos</title>
</head>
<%-include('../header.ejs') %>
<body>

<br>

<p class="title-index-prod-form">Bienvenido Alberto, estás logueado como ADMINISTRADOR <br>
</p>
<p class="des-index-prod-form">
    ¿Qué deseas hacer?
</p>

<br><br>


<div class="contenedor-botones-index-prod">
    <div>
    <a href="/productos/crear"><button  class="boton-crear"><span>Crea un producto</span></button></a>
    </div>
    <div>
    <a href="/productos/menuModificar"><button class="boton-modificar"><span>Modificá un producto</span></button></a>
    </div>
</div>


<br><br>
<%-include('../footer.ejs') %>
</body>
</html>