<!DOCTYPE html>
<html lang="en">
    <%-include('../head.ejs') %>
    <title>Indice de productos</title>
</head>
<%-include('../header.ejs') %>
<body>

<br>
<div class="TopContainer">
<h3 class="title-index-prod-form">Bienvenido Alberto, estás logueado como ADMINISTRADOR <br>
</h3>
<p class="des-index-prod-form">
    ¿Qué deseas hacer?
</p>
</div>
<br><br>


<div class="formBody">
    <div>
    <a href="/productos/crear"><button  class="SubmitBotton"><span>Crea un producto</span></button></a>
    </div>
    <div>
    <a href="/productos/menuModificar"><button class="SubmitBotton"><span>Modificá un producto</span></button></a>
    </div>
</div>


<br><br>
<%-include('../footer.ejs') %>
</body>
</html>