<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/productos.css" rel="stylesheet"/>
    <title>Modificación de producto - Mini Cooper S</title>
</head>
<%-include('../header.ejs') %>
<body>
<br>
<div class="container-menu-objeto-modificado">
<p>Bienvenido Alberto, estás logueado como ADMINISTRADOR</p>
<br>
<p>Estás modificando el objeto Mini Cooper S de color Blanco, ubicado en Buenos Aires de categoría Deportivo y modelo 2016 </p>
<br>
<p>¿Qué caracteristica del producto deseas modificar?</p>
</div>
<br>
<div class="container-form-objeto-modificado">
    <form  method="POST">
        <label>Seleccione la caracteristica del Mini Cooper S que desee modificar: </label>
        <select caracteristica="caracteristica">
            <option value="nombre">Nombre del producto</option>
            <option value="precio">Precio del producto en ARS</option>
            <option value="modelo">Modelo del producto</option>
            <option value="ubicacion">Ubicación del producto</option>
            <option value="categoria">Categoría del producto</option>
        </select>
    </form>
</div>
<br>

<div class="container-form-carac-modificar">
    <p>Ha seleccionado la caracteristica Categoría del producto</p>
    <br>
    <form>
        <label> ¿A qué categoría quiere que pertenezca el objeto Mini Cooper S?</label>
        <select>
            <option value="Camioneta">Camioneta</option>
            <option value="Automovil">Automovil</option>
            <option value="Deportivo">Deportivo</option>
        </select>
    </form>
</div>
<br><br>

<%-include('../footer.ejs') %>
</body>
</html>